

<div class="f-card">
  <div class="header">
    <div class="option"><i class="fas fa-chevron-circle-down"></i></div>
    <img src="assets/profile.jpg" class="co-logo" alt="image">
    <div class="co-name"><a href="#">Pyae Thiri</a></div>
    <div class="time"><a href="#">2hrs</a> . <i class="fas fa-globe-europe"></i> </div>
  </div>

  <div class="content">
    <p>Lovely interior design is a style of decorating that focuses on creating a warm, inviting, and cozy atmosphere.</p>
  </div>

  <div class="reference">
    <img src="assets/cover.jpg" class="reference-thumb" alt="cover image">
    <div class="reference-content">
      <div class="reference-title">Interior design - Wonders beyond imagination</div>
      <div class="reference-subtitle">Interior designers are also responsible for creating spaces that promote safety, health, and wellbeing. They use their knowledge of building construction, materials, and finishes to create environments that are both safe and aesthetically pleasing.</div>
      <div class="reference-font">goodInteriorDesigner.com</div>
    </div>
  </div>

  <div class="social">
    <div class="social-content"></div>
    <div class="social-buttons">
      <span><i class="fas fa-thumbs-up"></i></span>
      <span><i class="fas fa-comment"></i></span>
      <span><i class="fas fa-share"></i></span>
    </div>
  </div>


</div>
